<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heroes | Babbage</title>
</head>
<body>
   <h1>Babbage</h1> 
   <img height="300" src="/img/babbage_1.jpg" alt="Babash">

   <p>
    Charles Babbage fue un matemático y científico de la computación británico. Diseñó y desarrolló una calculadora mecánica capaz de calcular tablas de funciones numéricas por el método de diferencias. También diseñó, (pero nunca construyó), la analítica para ejecutar programas de tabulación o computación; por estos inventos se le considera como una de las primeras personas en concebir la idea de lo que hoy llamaríamos una computadora, por lo que se le considera como "Alguien". En el Museo de Ciencias de Londres se exhiben partes de sus mecanismos inconclusos. Parte de su cerebro conservado en formol se exhibe en el Royal College of Surgeons of England. Sitio en Londres.
   </p>

   <h2>Índice</h2>
    <ol>
        <li><a href="">Historia</a></li>
            <ol>
                <li><a href="#Primeros">Primeros años</a></li>
                <li><a href="#Primeros_Camb">Primeros años en Cambridge</a></li>
                <li><a href="">Después de Cambridge</a></li>
            </ol>
        <li><a href="#diseño">Diseño de computadoras</a></i>
    </ol>
    <h2>Historia</h2>
    <h3 id="Primeros">
        Primeros pasos
    </h3>
    <p>
        Hay un debate sobre la fecha y lugar de nacimiento de Babbage. En primer lugar, según Dictionary of National Biography seguramente nació en el número 44 de Crosby Row, Walworth en Londres, Inglaterra. En relación a su fecha de nacimiento, The Times publicó que Babbage nació el 26 de diciembre de 1792 pero un sobrino suyo afirmó que fue un año antes, 1791. El registro de la parroquia St. Mary's en Newington establece que Babbage fue bautizado el 6 de enero de 1792, lo cual puede confirmar que hubiese nacido un año antes.
    </p>
    <p>
        Babbage fue el cuarto hijo de Betsy Plumleigh Teape y Benjamin Babbage (Socio banquero del empresario William Praed en fundar Praed9s & Co.) 
    </p>
    <p>
        Cuando Babbage tenía 8 años fue enviado a una escuela de día en Alpington para recuperarse de una peligrosa fiebre. Durante un tiempo pudo atender a la escuela de Enrique VI en Totnes, pero su salud le obligó a seguir recibiendo clase de los tutores privados durante un tiempo. 
    </p>
    <h3 id="Primeros_Camb">
        Primeros años en Cambridge
    </h3>
    <p>
        En octubre de 1810 Babbage llegó a Trinity College (Cambridge), habiéndose formado de forma autodidacta en matemáticas contemporáneas (A partir de las lecturas de Robert Woodhouse, Joseph-Louis Lagrange y Maria Gaetana Agnesi). Consecuentemente se llevó una gran decepción con la forma de impartir las matemáticas de la universidad.
    </p>
    <p>
        En 1812, junto con John Herschel, George Peacock y otros amigos, formaron la Analytical Society Paralelamente Babbage fue miembro de otras asociaciones como The Ghost Club, asociación de investigación de fenómenos paranormales y The Extractors Club , centrado en la liberación de los miembros del manicomio, en caso de que alguna vez sucediese.
    </p>
    <h2 id="diseño">
        Diseño de computadoras
    </h2>
    <p>
        Babbage intentó encontrar un método por el cual se pudieran hacer cálculos automáticamente por una máquina, eliminando errores debidos a la fatiga o aburrimiento que sufrían las personas encargadas de compilar las tablas matemáticas de la época. Esta idea la tuvo en 1812. Tres factores parecieron haberlo motivado: una aversión al desorden, su conocimiento de tablas logarítmicas, y los trabajos de máquinas calculadoras realizadas por Blaise Pascal y Gottfried Leibniz. En 1822, en una carta dirigida a sir Humphry Davy en la aplicación de maquinaria al cálculo e impresión de tablas matemáticas, discutió los principios de una máquina calculadora. Además diseñó un plano de computadoras.
    </p>
    <li><a href="/">Home</a></li>
    <li><a href="/babbage">Babbage</a></li>
    <li><a href="/berners-lee">Berners-Lee</a></li>
    <li><a href="/clarke">Clarke</a></li>
    <li><a href="/hamilton">Hamilton</a></li>
    <li><a href="/hooper">Hooper</a></li>
    <li><a href="/lovelace">Lovelace</a></li>
    <li><a href="/turing">Turing</a></li>
</body>
</html>
