<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Heroes</h1> 

    </header>
    <h2>Babbage</h2>
    <a href="/babbage">
    <img src="/img/babbage.jpg" alt="Babbage">
     </a>
    <h2>Berners</h2>
    <a href="/berners-lee">
    <img src="/img/berners-lee.jpg" alt="Berners">
     </a>
    <h2>Clarke</h2>
    <a href="/clarke">
    <img src="/img/clarke.jpg" alt="Clarke">
</a>
    <h2>Hamilton</h2>
    <a href="hamilton">
    <img src="/img/hamilton.jpg" alt="Hamilton">
</a>
    <h2>Hopper</h2>
    <a href="/hopper">
    <img src="/img/hopper.jpg" alt="Hopper">
</a>
    <h2>Lovelace</h2>
    <a href="/lovelace">
    <img src="/img/lovelace.jpg" alt="Lovelace">
</a>
    <h2>Turing</h2>
    <a href="/turing">
    <img src="/img/turing.webp" alt="Turing">
</a>

</body>
</html>
